.inputs {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

input, select{
    height: 40px;
    width: 250px;
    border: solid 1px;
    border-radius: 8px;
    background-color: #e7e7e7;
}

.inputs div.group{
    margin-right: 30px;
}

.group{
    display: flex;
    flex-direction: column;
}

#item, #cliente{
    border-radius: 8px 0px 0px 8px;
}

#pesquisar-cliente, #pesquisar-item{
    height: 40px;
    width: 40px;
    border: solid 1px;
    border-radius: 0px 8px 8px 0px;
    background-color: #e7e7e7;
    margin: 0;
    position: relative;
    top: 0.5px;
    background-color: #9ac4d4;
}

#lista-itens, #lista-clientes{
    list-style: none;
    width: 280px;
    border-right: dashed;
    border-bottom: dashed;
    border-left: dashed;
    padding: 3px;
    margin-left: 5px;
}

.tabela-cadastro{
    display: flex;
}

#cadastrar {
    color: black;
    padding: 12px 50px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    width: 20%;
    flex-direction: column;
    margin-right: 20px;
}

.cadastrar{
    display: flex;
    justify-content: flex-end;
}

.icon{
    width: 20px;
    position: relative;
    top: 5px;
    cursor: pointer;
}

.btn-transparent{
    background-color: transparent;
    border: none;
}

.btn-transparent:hover{
    background-color: transparent;
    border: none;
}

/* CSS CADASTRO DEVOLUCAO */
.cadastro-devolucao{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

#devolver {
    background-color: #9ac4d4;
    font-size: 18px;
    padding: 12px 40px;
    margin: 30px auto;
    color: black;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

#locacaoOutput {
    margin-top: 10px;
    padding: 10px;
    border: 1px dashed #999;
    width: 300px;
    background-color: #f7f7f7;
}

#locacao{
    border-radius: 10px 0px 0px 10px;
}

#pesquisar-locacao {
    height: 40px;
    width: 40px;
    font-size: 18px;
    padding: 0;
    border-radius: 0px 10px 10px 0px;
    margin-left: 0px;
    position: relative;
    top: 3px;
    border: solid 1px;
}

.registrar-avaria{
    background-color: transparent;
    border: none;
}

.registrar-avaria:hover{
    background-color: transparent;
}

.registrar-avaria img{
    width: 32px;
    cursor: pointer;
}

.taxa-coluna{
    width: 10px;
    text-align: center;
}

.aplicar-taxa-limpeza{
    width: 15px;
}